# MongoDB Connection String
# Replace <db_username> and <db_password> with your actual credentials
MONGODB_URI=mongodb+srv://<db_username>:<db_password>@cluster0.etk9wv5.mongodb.net/?appName=Cluster0
